:root{
    --main-color:#2196f3;
    --secondary-color:#64b5f6;
    --accent-color: #1976d2;
}

.General{

}

.customButton{
    -fx-background-color:  var(--secondary-color);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 5, 5);
    -fx-font-size: 25; -fx-font-family: Elephant; -fx-text-fill: #eaf2ff;
}
.QuestionBar{
    -fx-background-color:   var(--accent-color);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 5, 5);
}
.BackGround{
    -fx-background-color:   var(--main-color);
}